@charset "utf-8";
.nav_nakathu{
    text-align: center;
}
h1 {
    text-align: center;
    background-color: burlywood;
    font-size: 2.3em;
    color: #fff;
    border-top: 0.2em solid brown;
}
ul{
    list-style-type: none;
    width: 100%;
    text-align: center; 
    line-height: 2.0em; 
    color:#fff;
    background-color: burlywood;
}
body {
    width: 100%;
    font-size: 0.9em;
    line-height: 1.5em;
}
nav table{
    max-width: 100%;
    margin: auto;
}
#nav_link{
    text-align: center;
}